{% include "shorten/header.html" %}
    <div class="container">
	  <div class="jumbotron">
		  <div class="shortly-main">
			<h1>short.ly - url shortener</h1>
			<p class="lead">When you need to blame a random person for shortening
				your url!</p>
			<form class="form-inline" action="" method="post" id="url-form">
				{% if original %}
					<input type="url" class="form-control" id="url" name="url"
					placeholder="Paste a link to shorten it"
					value="{{original}}" required="required"/>
				{% else %}
					<input type="url" class="form-control" id="url" name="url"
					placeholder="Paste a link to shorten it"
					required="required"/>
				{% endif %}
				<button type="submit" class="form-control btn btn-default"
					id="submit">Shorten</button>
			</form>
			<div class="result-container">
			{% if short %}
			<a target="_blank" class="result" href="{{short}}">{{short}}</a>
			{% endif %}
			</div>
		  </div>
	  </div>
  </div>

  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script type="text/javascript">
	  $(document).ready(function(){
		$("#url-form").submit(function(event){
			event.preventDefault();

			post_target = window.location.href
			$.post(post_target, $("#url").val())
			  .done(function(data) {
				  $(".result-container")
				  .html('<a target="_blank" class="result" href="'+data+'">'+data+'</a>');
			  })
			  .fail(function(data) {
				  console.log("error:", data);
			  });

			return false;
		});

	  });
  </script>

{% include "shorten/footer.html" %}
